# output dir
coco_eval/
input/
runs/
tmp
Docker/det2/
test_notebooks/*
test_ship_proba.csv
test_classifier.ipynb
rle.csv

*.png
*.json
!output/metrics.json
*.diff

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
detectron2.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pkl
*.npy
*.pth

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

# Admin
*.zip
